body{
  font-family: "Montserrat";
}

.top{
  background-color: #ff4c68;
  font-family: "Montserrat";
}

.container-fluid {
  padding: 3% 15%;
  overflow: hidden;
}

h1{
  font-family: "Montserrat Black";
  font-size: 3.5rem;
  color:white;
  line-height: 1.5;
}

/* navigation bar */
.navbar{
  padding:0 0 4.5rem 0;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat Light"
}

/* Download Buttons */

.download-btn{
  margin: 5% 3% 5% 0;
  font-family: "Montserrat",sans-serif;
  font-weight: 300;
}

/* Title Image */

.title-image{
  width: 60%;
  transform: rotate(25deg);
  margin-left: 15%;
}

/* Section Two */
.feature-box{
  padding:7% 15%;
}
/* .name2{
  margin-top: 10%;
  margin-bottom: 5%;
} */

.icon-row{
  text-align: center;
  padding:5%;
}

h3{
  margin-top: 1.5rem;
  position: relative;
  font-family: "Montserrat";
  font-weight:700;
  font-size:1.5rem;
  text-align: center;
}
.icons{
  color:#ef8172;
}
.icons:hover{
  color:#ff4c68;
}
.brief{
  color:#8f8f8f;
}



/* cment */
